.container{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    
}

.container .show-item{
    width:  40%;
    height: 100%;
    border:1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    overflow: auto;
}
.container .show-item h1{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}
.container .show-item .box{
    width: 200px;
    height: 400px;
    margin: 20px;
    border: 3px solid rgb(88, 88, 88);
    border-radius: 10px;
}

.container .show-item .box .item-img{
    width: 100%;
    height: 50%;
    padding: 20px 5px;
    /* border: 1px solid black; */
}
.box .item-img img{
    width: 100%;
    height: 100%;
}

.container .show-item .box .item-detail{
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.show-item .box .item-detail button{
    width: 100px;
    height: 40px;
    border-radius: 10px;

}

.container .cart{
    width: 40%;
    height: auto;
    max-height: 75%;
    border: 1px solid black;
    overflow-x: auto;
    position: fixed;
    right: 100px;
    top: 150px;
    border-radius: 10px;
    padding: 10px;
}
.cart table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.cart table tr{
    border: 1px solid rgba(86, 86, 86, 0.399);
}
.cart table tr .qty-btn #plusbtn{
    background-color: rgb(147, 255, 147);
    border: 1px solid green;
}
.cart table tr .qty-btn #minusbtn{
    background-color: rgb(255, 121, 121);
    border: 1px solid red;
}
.cart table tr .qty-btn{
    width: 150px;
}
.cart table tr .qty-btn button{
    width: 20px;
    height: 20px;
    margin: 0 5px;
    font-weight: bold;
}
.cart table tr .tbl-img{
    padding: 10px 0;
    width: 80px;
    height: 80px;
}
.cart table tr td img{
    width: 100%;
    height: 100%;
}
.cart table tfoot tr td{
    font-size: 1.3rem;
    font-weight: bold;
}


@media  screen and (max-width:500px) {
    .container{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        gap: 30px;
    }
    .container .show-item{
        width: 100%;
        padding: 0;
        justify-content: space-around;
    }
    .container .show-item .box{
        width: 150px;
        height: 400px;
        margin: 10px 0;
    }
    .container .cart{
        width: 90%;
        position: static;
    }
    .container .cart table tr .tbl-img{
        width: 80px;
        height: 80px;
    }
    .container .cart table tr td,th{
        font-size: .8rem;
    }
    .container .cart table tr .qty-btn{
        width: 100px;
    }
}